rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  match /users/{uid} {
      allow create, read: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == uid;
    }
    match /groups/{document} {
      allow read, create: if request.auth != null ;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.admin;
    }
    match /timetables/{uid} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && request.auth.uid == uid;
    }
    
    // match /{document=**} {
    //   allow read, write:  if request.auth != null;
    // }
  }
}